{% extends "_legacy.html" %}
{% block content %}
<table border="1" cellpadding="4" cellspacing="0" bordercolor="#808080" bgcolor="#ffffff" width="460">
<tr bgcolor="#a6caf0"><td colspan="2"><b>Please review the new sub-account</b></td></tr>
<tr><td width="140">Member</td><td>{{ m.number }} - {{ m.name }}</td></tr>
<tr><td>Share Type</td><td>{{ desc }}</td></tr>
<tr><td>Initial Deposit</td><td>{{ amount|money }}</td></tr>
<tr><td>Funding Source</td><td>{{ m.account_number(source) }} {{ source.description }}</td></tr>
<tr><td>Nickname</td><td>{{ nickname or "(none)" }}</td></tr>
</table>
<p><font color="#cc0000">Clicking Confirm will open the account and transfer the funds. This cannot be undone.</font></p>
<form method="post" action="/app/member/open/confirm" name="aspnetForm">
<input type="hidden" name="token" value="{{ token }}">
<input type="submit" name="ctl00$cph1$btnConfirm" value="Confirm">
<input type="button" value="Back" onclick="history.back()">
</form>
{% endblock %}
