{% extends "_legacy.html" %}
{% block content %}
<form method="post" action="/app/search" name="aspnetForm" id="{{ rid('aspnetForm') }}">
<input type="hidden" name="__VIEWSTATE" value="{{ viewstate() }}">
<table cellpadding="2" cellspacing="0" border="0">
{% if error %}<tr><td colspan="4"><font color="#cc0000"><b>{{ error }}</b></font></td></tr>{% endif %}
<tr>
  <td>Member Number:</td>
  <td><input type="text" name="ctl00$cph1$txtMbrNo" id="{{ rid('ctl00_cph1_txtMbrNo') }}" value="{{ q_number }}" size="12" maxlength="10"></td>
  <td>&nbsp;&nbsp;Last Name:</td>
  <td><input type="text" name="ctl00$cph1$txtLName" id="{{ rid('ctl00_cph1_txtLName') }}" value="{{ q_last }}" size="16"></td>
</tr>
<tr><td colspan="4"><input type="submit" name="ctl00$cph1$btnSearch" value="Search">
  <input type="reset" value="Clear"></td></tr>
</table>
</form>
{% if searched %}
<hr size="1">
{% if results %}
<div>{{ results|length }} record(s) found.</div>
<table border="1" cellpadding="2" cellspacing="0" bordercolor="#808080" width="100%" bgcolor="#ffffff">
<tr bgcolor="#a6caf0"><td><b>Member #</b></td><td><b>Name</b></td><td><b>Branch</b></td><td><b>Status</b></td><td>&nbsp;</td></tr>
{% for m in results %}
<tr bgcolor="{{ loop.cycle('#ffffff', '#efefef') }}">
  <td>{{ m.number }}</td><td>{{ m.name }}</td><td>{{ m.branch }}</td><td>{{ m.status }}</td>
  <td><a href="/app/member?mbr={{ m.number }}&amp;sk={{ rtok() }}">View</a></td>
</tr>
{% endfor %}
</table>
{% else %}
<font color="#cc0000">No records found matching the search criteria.</font>
{% endif %}
{% endif %}
{% endblock %}
